modules/datacrow-resources/modules/data/software.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xsd:element name="data-crow-objects">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="software-item-items" type ="software-item-items-type"/>
            <xsd:element name="platform-items" type ="platform-items-type"/>
            <xsd:element name="country-items" type ="country-items-type"/>
            <xsd:element name="language-items" type ="language-items-type"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:element>

    <xsd:complexType name="software-item-items-type" >
        <xsd:sequence>
            <xsd:element type="software-item-type" name="software-item" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="software-item-type" >
        <xsd:sequence>
            <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
            <xsd:element name="picture-01" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-02" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-03" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-04" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-05" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-06" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-07" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-08" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-09" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-10" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="cooperative-multiplayer" type="xsd:boolean" nillable="true" minOccurs="0"/>
            <xsd:element name="multiplayer-game" type="xsd:boolean" nillable="true" minOccurs="0"/>
            <xsd:element name="tags-items" nillable="true" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="tag" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
                                    <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
                                    <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="tags-items-list" nillable="true" minOccurs="0"/>
            <xsd:element name="loan-end-date" type="xsd:date" nillable="true" minOccurs="0"/>
            <xsd:element name="loan-start-date" type="xsd:date" nillable="true" minOccurs="0"/>
            <xsd:element name="loan-status" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="external-references-items" nillable="true" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="external-reference" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
                                    <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
                                    <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="external-references-items-list" nillable="true" minOccurs="0"/>
            <xsd:element name="license-items" nillable="true" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="license" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
                                    <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
                                    <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="license-items-list" nillable="true" minOccurs="0"/>
            <xsd:element name="version" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="title" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="description" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="year" type="xsd:integer" nillable="true" minOccurs="0"/>
            <xsd:element name="rating" type="xsd:integer" nillable="true" minOccurs="0"/>
            <xsd:element name="categories-items" nillable="true" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="category" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
                                    <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
                                    <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="categories-items-list" nillable="true" minOccurs="0"/>
            <xsd:element name="platform-items" nillable="true" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="platform" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
                                    <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
                                    <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="platform-items-list" nillable="true" minOccurs="0"/>
            <xsd:element name="modified" type="xsd:date" nillable="true" minOccurs="0"/>
            <xsd:element name="created" type="xsd:date" nillable="true" minOccurs="0"/>
            <xsd:element name="service" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="service-url" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="filehash-type" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="filehash" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="filesize" type="xsd:integer" nillable="true" minOccurs="0"/>
            <xsd:element name="countries-items" nillable="true" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="country" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
                                    <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
                                    <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="countries-items-list" nillable="true" minOccurs="0"/>
            <xsd:element name="item-value" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="languages-items" nillable="true" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="language" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
                                    <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
                                    <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="languages-items-list" nillable="true" minOccurs="0"/>
            <xsd:element name="container-items" nillable="true" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="container" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
                                    <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
                                    <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="container-items-list" nillable="true" minOccurs="0"/>
            <xsd:element name="developers-items" nillable="true" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="developer" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
                                    <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
                                    <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="developers-items-list" nillable="true" minOccurs="0"/>
            <xsd:element name="serial-key" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="webpage" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="storage-medium-items" nillable="true" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="storage-medium" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
                                    <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
                                    <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="storage-medium-items-list" nillable="true" minOccurs="0"/>
            <xsd:element name="state-items" nillable="true" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="state" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
                                    <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
                                    <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="state-items-list" nillable="true" minOccurs="0"/>
            <xsd:element name="publishers-items" nillable="true" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="publisher" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
                                    <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
                                    <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="publishers-items-list" nillable="true" minOccurs="0"/>
            <xsd:element name="ean" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="filename" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="days" type="xsd:integer" nillable="true" minOccurs="0"/>
            <xsd:element name="due-date" type="xsd:date" nillable="true" minOccurs="0"/>
            <xsd:element name="lend-by-items" nillable="true" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="contact-person" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
                                    <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
                                    <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="lend-by-items-list" nillable="true" minOccurs="0"/>
            <xsd:element name="days-loaned" type="xsd:integer" nillable="true" minOccurs="0"/>
            <xsd:element name="user-long-text-field" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="user-numeric-field-1" type="xsd:integer" nillable="true" minOccurs="0"/>
            <xsd:element name="user-numeric-field-2" type="xsd:integer" nillable="true" minOccurs="0"/>
            <xsd:element name="user-short-text-field-2" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="user-short-text-field-1" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="item" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="label" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="available" type="xsd:boolean" nillable="true" minOccurs="0"/>
            <xsd:element name="pictures" minOccurs="0" maxOccurs="unbounded" type="picture-items-type" />
            <xsd:element name="attachments" minOccurs="0" maxOccurs="unbounded" type="attachment-items-type" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="platform-items-type" >
        <xsd:sequence>
            <xsd:element type="platform-type" name="platform" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="platform-type" >
        <xsd:sequence>
            <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
            <xsd:element name="picture-01" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-02" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-03" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-04" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-05" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-06" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-07" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-08" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-09" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-10" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="alternative-names" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="modified" type="xsd:date" nillable="true" minOccurs="0"/>
            <xsd:element name="created" type="xsd:date" nillable="true" minOccurs="0"/>
            <xsd:element name="icon" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="item" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="label" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="pictures" minOccurs="0" maxOccurs="unbounded" type="picture-items-type" />
            <xsd:element name="attachments" minOccurs="0" maxOccurs="unbounded" type="attachment-items-type" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="country-items-type" >
        <xsd:sequence>
            <xsd:element type="country-type" name="country" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="country-type" >
        <xsd:sequence>
            <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
            <xsd:element name="picture-01" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-02" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-03" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-04" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-05" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-06" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-07" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-08" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-09" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-10" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="alternative-names" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="modified" type="xsd:date" nillable="true" minOccurs="0"/>
            <xsd:element name="created" type="xsd:date" nillable="true" minOccurs="0"/>
            <xsd:element name="icon" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="item" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="label" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="pictures" minOccurs="0" maxOccurs="unbounded" type="picture-items-type" />
            <xsd:element name="attachments" minOccurs="0" maxOccurs="unbounded" type="attachment-items-type" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="language-items-type" >
        <xsd:sequence>
            <xsd:element type="language-type" name="language" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="language-type" >
        <xsd:sequence>
            <xsd:element name="datacrow-module-index" type="xsd:integer" nillable="true" minOccurs="0" />
            <xsd:element name="picture-01" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-02" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-03" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-04" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-05" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-06" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-07" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-08" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-09" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="picture-10" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="name" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="alternative-names" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="modified" type="xsd:date" nillable="true" minOccurs="0"/>
            <xsd:element name="created" type="xsd:date" nillable="true" minOccurs="0"/>
            <xsd:element name="icon" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="item" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="label" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="id" type="xsd:string" nillable="true" minOccurs="0"/>
            <xsd:element name="pictures" minOccurs="0" maxOccurs="unbounded" type="picture-items-type" />
            <xsd:element name="attachments" minOccurs="0" maxOccurs="unbounded" type="attachment-items-type" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="picture-items-type">
        <xsd:sequence>
            <xsd:element name="picture" type="picture-type" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="picture-type">
        <xsd:sequence>
            <xsd:element name="link" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="attachment-items-type">
        <xsd:sequence>
            <xsd:element name="attachment" type="attachment-type" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="attachment-type">
        <xsd:sequence>
            <xsd:element name="link" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>
